[flake8]
exclude = data, .eggs, doc, setup.py
ignore =
       # unused import
       F401
       # redefined from outer scope
       F811
       # whitespace around operators
       E226
       # line break before binary operato
       W503
